.wrapper {

    width: 900px;
    margin: 0 auto;

    background-color: ghostwhite;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}

.box-group {
    display: inline-block;

    margin: 20px;
    padding: 20px;
    width: 300px;
    height: fit-content;

    /*background-color: blue;*/
    vertical-align: top;
}

.box {
    margin: 20px;
    padding: 20px;
    width: 200px;

    border: 1px solid black;

    text-align: center;
}

.block-house {
    background-color: green;
}

.block-room {
    display: none;

    margin: 130px 20px 20px 20px;

    background-color: royalblue;
    color: white;
}

.block-article {
    display: inline-block;
    margin: 60px 0;
    width: 300px;

    background-color: rebeccapurple;
    color: white;

    visibility: hidden;
}


.box-group:hover > .block-room {
    display: block;
}

.box-group:has(.block-room:hover) + .block-article {
    visibility: visible;
}
