.travel-plan {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
}

li {
    list-style: none;
}

li::before {
    background-position: 0;
    background-repeat: no-repeat;
    vertical-align: center;

    content: '';

    display: inline-block;
    height: 20px;
    width: 20px;

    background-image: url("icons/rule.svg");
    background-size: contain;
}

.travel-plan > ul > li::before {
    background-image: url("icons/rule.svg");
}

.ad-units-img::before {
    background-image: url("icons/ad_units.svg");
}

.airplane-ticket-img::before {
    background-image: url("icons/airplane_ticket.svg");
}

.hotel-img::before {
    background-image: url("icons/hotel.svg");
}

.car-rental-img::before {
    background-image: url("icons/car_rental.svg");
}

.local-bar-img::before {
    background-image: url("icons/local_bar.svg");
}

.casino-img::before {
    background-image: url("icons/casino.svg");
}

.museum-img::before {
    background-image: url("icons/museum.svg");
}

.festival-img::before {
    background-image: url("icons/festival.svg");
}

ul {
    background-color: rgb(103, 158, 128);
    padding: 0 20px 0 50px;
}

ul ul {
    font-size: 18px;
    font-style: italic;
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

ul ul li {
    margin: 0 0 10px 0;
    padding-left: 4px;
    background-color: rgb(153, 180, 102);
}

span {
    padding: 10px 20px;
    display: inline-block;
}

.travel-plan > ul > li > span {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin: 0 0 10px 0;
}

ul ul span {
    background-color: rgb(218, 106, 32);
}
