div {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
}

.rule-list {
    
}
