.grid-container {
    display: grid;
    grid-template: 1fr 1fr / 2fr repeat(3, 1fr);
    grid-gap: 20px;

    width: 620px;
    margin: 0 auto;
}

.item {
    padding: 10px;
    box-shadow: 1px 0 5px grey;
}

.image {
    width: 120px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 200px 150px;
}

.large-item .image {
    width: 200px;
    height: 150px;
}

.text-header {
    font-size: large;
    font-weight: bold;
}

.text-content {
    font-size: small;
}

.button {
    padding: 10px;
    width: 100%;
    background-color: grey;
    color: white;
    border: none;
}

.large-item {
    grid-area: 1/1/3/2;
}

