
.instruction {
    text-align: center;
    font-size: 14px;
}

h1 {
    font-size: 24px;
    color: red;
}

.instruction-list-none {
    list-style-type: none;
}

.instruction-highlighted {
    font-weight: bold;
}

h2.instruction-highlighted {
    font-style: italic;
}

.instruction-sub {
    vertical-align: sub;
}

.instruction-sup {
    vertical-align: super;
}

.instruction-strikethrough {
    text-decoration: line-through;
}

.instruction-underscore {
    text-decoration: underline;
}

.instruction-bg-highlighted {
    background-color: yellow;
}

#instruction-italic-special-text {
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
}

hr.instruction-break-line {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: rgb(0, 128, 0);
    border-right-color: rgb(0, 128, 0);
    border-bottom-color: rgb(0, 128, 0);
    border-top-color: rgb(0, 128, 0);
    background-color: rgb(0, 128, 0);
    width: 50%;
    height: 3px;
}
