/*1*/
p.text-background span {
    color: teal;
    font-style: italic;
    font-weight: bold;
    text-decoration-line: underline;
}

/*2*/
div .text-background span {
    background-color: gold;
}

/*3*/
span span {
    background-color: lightgrey;
    text-decoration: line-through;
}

/*4*/
ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

/*5*/
section > p {
    text-indent: 50px;
    text-shadow: 3px 3px 5px darkslateblue;
}

/*6*/
li > ul {
    list-style: url("li.svg");
}

/*7*/
div > p.text-background {
    word-spacing: 50px;
}

/*8*/
/*no class "text-bold" in html but there is class "bold", so...*/
div.bold > p {
    font-weight: bold;
}

/*9*/
/*no class "text-bold" in html but there is class "bold", so...*/
div.bold > section > p {
    line-height: 45px;
}

/*10*/
img + p {
    background-color: rosybrown;
}

/*11*/
section ~ p {
    color: orangered;
}
