* {
    background-color: ghostwhite;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

table {
    background-color: white;
    border-collapse: collapse;
    margin: 10px;
}

thead {
    border-width: 0em;
}

tbody > tr > td, tbody > tr > th {
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

td, th {
    padding: 1em;
    text-align: center;
    background-color: #B8DBFF;
}

tr:nth-child(even) td {
    background-color: #DBECFF;
}

thead th {
    font-weight: bold;
}

thead th:nth-child(1) {
    background-color: #DBECFF;
}

thead th:nth-child(2) {
    background-color: #B8DBFF;
}

thead th:nth-child(3) {
    background-color: #83B6EB;
}

thead th:nth-child(4) {
    background-color: #508CCC;
}

thead th:nth-child(5) {
    background-color: #306EB3;
}

tbody th {
    background-color: #13539E;
}

th {
    color: white;
}
