* {
    background-color: ghostwhite;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

table {
    background-color: white;
    border-collapse: collapse;
    margin: 10px;
}

thead {
    border-width: 0em;
}

tbody > tr > td, tbody > tr > th {
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

td, th {
    padding: 1em;
    text-align: center;
    background-color: #B8DBFF;
}

th {
    color: white;
}

th {
    background-color: #1075EB;
}
