.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template: repeat(5, 50px) / 1fr 3fr 1fr;
    width: 576px;
    margin: 0 auto;
}


.item {
    min-width: 100px;
    min-height: 100px;
    box-shadow: 2px 2px 10px grey;
}

.img-small {
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 200px 150px;
}

.img-vertical {
    width: 150px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 150px 200px;
}

.img-large {
    width: 600px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 600px 450px;
}

.img1 {
    background-image: url("assets/1.jpg");
}

.img2 {
    background-image: url("assets/2.jpg");
}

.img3 {
    background-image: url("assets/3.jpg");
}

.img4 {
    background-image: url("assets/4.jpg");
}

.img5 {
    background-image: url("assets/5.jpg");
}

.img6 {
    background-image: url("assets/6.jpg");
}

.img7 {
    background-image: url("assets/7.jpg");
}

.img8 {
    background-image: url("assets/8.jpg");
}

.img7 {
    background-image: url("assets/9.jpg");
}

.img8 {
    background-image: url("assets/10.jpg");
}
