@media (max-width: 576px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: darkslateblue;
    }
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 200px 250px 200px;
    /*grid-template: repeat(3, 200px) / 1fr 8fr 1fr;*/
    width: 576px;
    margin: 0 auto;
}

.item {
    min-width: 100px;
    min-height: 100px;
    box-shadow: 2px 2px 10px grey;
}

.img-small {
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 200px 150px;
}

.img-vertical {
    width: 150px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 150px 200px;
}

.img-large {
    width: 600px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 600px 450px;
}


.img1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url("assets/1.jpg");
}

.img2 {
    grid-column: 1;
    grid-row: 3;
    background-image: url("assets/2.jpg");
}

.img3 {
    grid-column: 2;
    grid-row: 3;
    background-image: url("assets/3.jpg");
}

.img4 {
    grid-column: 3;
    grid-row: 3;
    background-image: url("assets/4.jpg");
}

.img6 {
    grid-column: 4;
    grid-row: 3;
    background-image: url("assets/6.jpg");
}

.img5 {
    /* large */
    grid-area: 1/2/4/5;
    background-image: url("assets/5.jpg");
}


.img7 {
    grid-column: 5;
    grid-row: 1;
    background-image: url("assets/7.jpg");
}

.img8 {
    grid-column: 5;
    grid-row: 3;
    background-image: url("assets/8.jpg");
}

.img9 {
    grid-column: 1;
    grid-row: 2;
    background-image: url("assets/9.jpg");
}

.img10 {
    grid-column: 5;
    grid-row: 2;
    background-image: url("assets/10.jpg");
}
