* {
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

.center {
    text-align: center;
    color: brown;
}

a {
    color: darkmagenta;
}

.list-item-green {
    color: forestgreen;
}

.list-square {
    list-style: square;
}

.list-pictogram {
    list-style: url("li.svg");
}

div ul li div ul li {
    list-style: none;
}

.list-square li a {
    text-decoration: none;
}

ol {
    list-style-position: inside;
}
