.weather {
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 450px;
    background-color: darkgrey;
}

.weather p {
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
}

/* forecast */
.block-weekly-forecast {
    position: absolute;
    top: 230px;
    left: 280px;
    height: 200px;

    background-color: lightgrey;
    box-shadow: 8px 5px 0 rgba(0, 0, 0, 0.2);
}

.daily-forecast {
    display: inline-block;
    margin: 125px 10px 5px 10px;
}

.daily-forecast p {
    margin: 2px;
}

.day-name {
    font-size: 14px !important;
    color: darkgrey;
}

.temperature::after {
    content: "°";
}

/* now */

.block-now {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 300px;
    height: 300px;
    z-index: 20;
    background-color: black;
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.8);
}

.temperature-now {
    position: relative;
}

.temperature-now p {
    position: absolute;
    top: 80px;
    left: 20px;

    font-size: 90px;

    color: darkgrey;
}

/* image */

.cloud-image {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 400px;
    z-index: 30;
}

/* arrows */

.block-arrows {
    position: absolute;
    top: 100px;
    left: 50px;

    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;

    background: linear-gradient(0.5turn, darkgrey, grey 20%, grey 80%, darkgrey);
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.4);
    opacity: 0.6;

    z-index: 40;
}

.block-arrows::before {
    box-shadow: inset 0 0 5px 5px rgba(225, 225, 225, 0.3);

}

.block-arrows img {
    padding: 5px 3px;
    margin: 0;
    width: 40px;
    vertical-align: center;
}
