.images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-self: center;
    gap: 50px;
    max-width: 700px;
}

.image-block {
    width: 200px;
    height: 200px;
    position: relative;
}

.images .main-image {
    width: 100%;
    height: 100%;
}

.content-on-hover {
    display: none;
}

.image-block:hover .content-on-hover {
    width: 100%;
    height: 100%;
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(70, 69, 69, 0.9);
}

.content-on-hover .circled-image {
    position: absolute;
    top: 20px;
    left: 60px;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-size: cover;
}

.content-on-hover .circled-border {
    position: absolute;
    top: 14px;
    left: 54px;
    width: 90px;
    height: 90px;
    border-radius: 50%;

    border: 1px solid white;
}

.content-on-hover .plus-button {
    position: absolute;
    top: 50px;
    left: 135px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    background: var(--hover-color);
}

.content-on-hover .plus-button:hover {
    border: 1px solid var(--hover-color);
    background: var(--text-bg-dark-color);
    color: var(--hover-color);
}

.content-on-hover .center-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-self: center;

    width: 200px;
}

.content-on-hover .name {
    position: absolute;
    top: 100px;
    color: white;
}

.content-on-hover .contactadress {
    position: absolute;
    top: 120px;
    color: var(--hover-color);
}

.content-on-hover .buttons {
    position: absolute;
    top: 155px;
}

.content-on-hover .action-button {
    margin: 0;
    padding: 8px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.content-on-hover .action-button:hover {
    background: var(--hover-color);
    color: var(--text-bg-dark-color);
}

.image-1 {
    background-image: url("img/avatars/1.jpg");
}

.image-2 {
    background-image: url("img/avatars/2.jpg");
}

.image-3 {
    background-image: url("img/avatars/3.jpg");
}

.image-4 {
    background-image: url("img/avatars/4.jpg");
}

.image-5 {
    background-image: url("img/avatars/5.jpg");
}

.image-6 {
    background-image: url("img/avatars/6.jpg");
}

.image-7 {
    background-image: url("img/avatars/7.jpg");
}

.image-8 {
    background-image: url("img/avatars/8.png");
}

.image-9 {
    background-image: url("img/avatars/9.jpeg");
}
