.journal-cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.card-journal {
    display: flex;
    flex-direction: row;

    width: 500px;
    height: 300px;
    margin: 10px;
}

.journal-text-wrapper {
    display: flex;
    flex-flow: column wrap;
}

.card-journal-image {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.journal-cards-wrapper .date {
    color: rgb(200, 200, 200);
    font-weight: 800;
}
