:root {
    --light-bg-color: rgb(235, 239, 237);
    --text-bg-dark-color: rgba(70, 69, 69);
    --action-color: rgba(254, 11, 40, 0.699);
    --hover-color: rgb(10, 220, 210);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    color: var(--text-bg-dark-color);
    font-family: "Montserrat", cursive;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: var(--text-bg-dark-color);
}

@media (576 рх < width < 768 рx) {
    .images {
        width: 500px;
    }
}

@media (1 рх < width < 576 рx) {
    .images {
        width: 300px;
    }
}


.about-us-container {
    background-color: var(--light-bg-color);
    padding: 36px 10%;
    margin: 24px 10px;
    color: var(--text-bg-dark-color);
}

.about-us {
    font-family: "Elms Sans", sans-serif;
    font-size: 20px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    padding: 20px;
}

.title-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
}

.title-block div {
    font-family: "Elms Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-bg-dark-color);
}

.button {
    width: 120px;
    height: 32px;
    border: 1px solid white;

    font-family: "Elms Sans", sans-serif;
    font-size: 8px;
    font-weight: 600;
    color: white;
    background: var(--action-color);
}

.button:hover {
    font-weight: 700;
    border: 1px solid var(--text-bg-dark-color);
    color: var(--action-color);
    background: var(--hover-color);
}


.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.contact-us > div {
    font-family: "Elms Sans", sans-serif;
    font-size: 15px;
    color: var(--text-bg-dark-color);
    margin-bottom: 10px;
}

.contact-us .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 24px;
}

.title {
    text-transform: uppercase;
}

.title::after {
    content: " --";
    color: var(--action-color);
}

.footer-container {
    display: flex;
    flex-direction: column;

    background-color: var(--text-bg-dark-color);
    padding: 36px 10%;
    margin: 24px 10px;
    color: var(--light-bg-color);
}

.copyright {
    align-self: center;
}

.socials {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.socials a {
    margin: 10px;
    padding: 10px;
}

.copyright::before {
    content: "©";
}

.email {
    background: darkorange;
    width: 30px;
    height: 30px;
}

.phone {
    background: darkred;
    width: 30px;
    height: 30px;
}

.youtube {
    background: darkslateblue;
    width: 30px;
    height: 30px;
}
