.card-info {
    display: inline-block;
    width: 200px;
    height: 320px;
    margin: 10px;
}

.card-image {
    width: 100px;
    height: 100px;
    padding: 50px;
}

.journal-cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
