h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;

    color: #13539E;
}

form {
    margin: 8px auto;
    padding: 8px;
    width: fit-content;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    line-height: 32px;

    background-color: #83B6EB;
    border: 1px solid transparent;
    border-radius: 8px;
}

form fieldset {
    margin: 16px;
    padding: 8px;

    background-color: #DBECFF;
    border: 1px solid transparent;
    border-radius: 8px;
}

form fieldset legend {

    margin: 8px;
    padding: 8px 32px;


    font-weight: bold;

    color: #DBECFF;
    background-color: #13539E;
    border: 1px solid #DBECFF;
    border-radius: 8px;
}

form fieldset div {
    margin: 8px 32px;
}

form input, textarea {
    margin: 8px 16px;
    padding: 8px;

    box-shadow: 0 0 4px #13539E;

    color: #13539E;
    background-color: white;
    border: 1px solid #B8DBFF;
    border-radius: 8px;
}

form input::placeholder, textarea::placeholder {
    color: #B8DBFF;
}

form textarea {
    box-shadow: none;
}

form input:focus {

    box-shadow: 0 0 16px #13539E;

    outline-style: solid;
    outline-width: 1px;
    outline-color: #DBECFF;
    outline-offset: 2px;
}

form textarea:focus {
    box-shadow: 0 0 8px #13539E;

    outline-style: solid;
    outline-width: 1px;
    outline-color: #DBECFF;
    outline-offset: 2px;
}

form input[type="radio"] {

    box-shadow: none;
}

form input[type="radio"], input[type="checkbox"] {
    accent-color: #13539E;
    outline-style: none;
}

form input[type="radio"]:focus, input[type="checkbox"]:focus {

    outline-style: none;
    box-shadow: 0 0 16px #13539E;
}

form select {


    margin: 8px 16px;
    padding: 8px 32px 8px 8px;


    box-shadow: 0 0 4px #13539E;

    color: #13539E;
    background-color: white;
    border: 1px solid #B8DBFF;
    border-radius: 8px;

    opacity: 1;
}

form select:hover, select:focus {


}

form select {

    accent-color: orangered;
}

form option {
    accent-color: orangered;

    padding: 8px;
}

option:first-of-type {
    border-radius: 4px 4px 0 0;
}

option:last-of-type {
    border-radius: 0 0 4px 4px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}


form option:hover {
    background-color: #DBECFF;
}

form option:focus {
    background-color: lightgreen;
}

form option:checked {
    background-color: #83B6EB;
}

form button {
    margin: 16px;
    padding: 16px;

    box-shadow: 0 0 4px #13539E;

    color: #13539E;
    background-color: #DBECFF;
    border: 1px solid #B8DBFF;
    border-radius: 8px;
}


