.block-container {
    align-self: center;

    margin: auto;
    width: 99%;

    padding: 10px;
}

.block {
    display: inline-block;
    vertical-align: top;

    /*float: left;*/
    width: 300px;

    margin: 10px;
    padding: 10px;

}

.block-title {
    font-size: large;
    font-weight: bold;
}

.block-content {
    text-align: justify;
}

.block-padding {
    padding: 10px;
}

.block1, .block2, .block3 {
    border: 3px solid lightgreen;
}

.block1 {
    border-radius: 40px;
}

.block2 {
    border-radius: 40px 0 40px 0;
}

.block3 {
    border-radius: 40px 120px 40px 120px;
}

.block4, .block5, .block6 {
    border: 16px solid lawngreen;
}

.block4 {
    border-color: green lawngreen;
    border-radius: 200px / 40px;
}

.block5 {
    border-color: lawngreen green;
    border-radius: 200px 120px  / 60px 20px;
}

.block6 {
    border-left-color: green;
    border-bottom-right-radius: 90%;
}

.block7, .block8, .block9 {
    border: double orangered 16px;
    border-image: url(assets/OrangeRectangle.svg) 27 round stretch;
    /*border-image-repeat: repeat;*/

}

.block7 {
    /*border-color: orangered sandybrown;
    border-radius: 200px / 40px;*/
}

.block8 {
    /*border-color: orangered sandybrown;
    border-radius: 200px 120px  / 60px 20px;*/
}

.block9 {
    /*border-left-color: sandybrown;
    border-bottom-right-radius: 90%;*/
}
