.block {
    margin: 10px;
    padding: 10px 40px;

    color: white;

    border-radius: 40px;
}

.inline-block {
    width: 35%;
    display: inline-block;
}

.block-title {
    font-size: large;
    font-weight: bold;
}

.block-content {
    text-align: justify;
}

.block13 {
    background-color: #571c18;
}

.block14 {
    background-color: #9c635f;
    /*background-color: indianred;*/
}

.block15, .block16 {
    background-color: firebrick;
}

.block15 {
    margin-right: 10%;
}
