.block {
    height: 400px;
    width: 300px;

    display: inline-block;
    margin: 35px;

    background-color: lightskyblue;
}

.block-text {
    margin: 16px;
    text-align: center;
}

.circular-image {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.block1 {
    background: linear-gradient(45deg,
    green 0%,
    yellow 30%,
    blue 70%,
    orange 100%);
}

.block2 {
    background-image: linear-gradient(45deg,
    green 15%,
    white 25%,
    purple 25%,
    orange 50%,
    yellow 50%,
    yellow 65%,
    white 75%,
    orange 75%,
    blue 100%);
    background-size: 100px 100px;

    /*background-image: linear-gradient(45deg, pink 25%, transparent 25%),
    linear-gradient(-45deg, yellow 25%, transparent 25%), linear-gradient(45deg, transparent 75%, red 75%),
    linear-gradient(-45deg, transparent 75%, blue 75%);
    background-size: 50px 50px;*/
}

.block2-grid {
    padding: 0;
    margin: 0;

    height: 400px;
    width: 300px;
    background: repeating-conic-gradient(from 0deg, transparent 0% 25%, white 0% 50%);
    /*background: repeating-conic-gradient(#000 0% 25%, #eee 0% 50%) 50%/ #{$s $s};*/
    /*
    background-image: linear-gradient(45deg, black 25%, transparent 25%,
    transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%,
        transparent 75%, black 75%, black);
*/
    background-size: 100px 100px;
    position: relative;
    top: -20px;


    /*overflow: hidden;
    background-image: linear-gradient(45deg, white 25%, transparent 25%),
    linear-gradient(-45deg, white 25%, transparent 25%), linear-gradient(45deg, transparent 75%, white 75%),
    linear-gradient(-45deg, transparent 75%, white 75%);
    background-size: 50px 50px;

    transform: rotate(45deg);*/

}

.block2-content {
    position: relative;
    top: 20px;
}

.block3 {
    background: repeating-linear-gradient(90deg,
    green,
    transparent 16.6%,
    blue 16.6%,
    yellow 33.3%);
}

.block4 {
    background: linear-gradient(-45deg, rgb(255, 255, 0, 1.0) 30%, transparent 30%),
    linear-gradient(45deg, rgb(0, 128, 0, 1.0) 30%, transparent 30%),
    linear-gradient(135deg, rgb(246, 176, 52, 1.0), transparent 50%),
    linear-gradient(-135deg, rgb(41, 37, 246, 1.0), transparent 50%);
}

.block5 {
    background: linear-gradient(-165deg,
    transparent 5%,
    rgb(209, 216, 227, 0.5) 10%,
    transparent 15%,
    transparent 35%,
    rgb(141, 151, 166, 0.5) 40%,
    transparent 50%,
    rgb(209, 216, 227, 0.5) 60%,
    transparent 70%,
    rgb(141, 151, 166, 0.7) 90%,
    transparent 100%),
    linear-gradient(165deg,
        rgb(243, 90, 134, 1.0) 0%,
        rgb(255, 50, 16, 1.0) 5%,
        rgb(253, 204, 3, 1.0) 17%,
        rgb(31, 191, 47, 1.0) 24%,
        rgb(5, 11, 224, 1.0) 33%,
        rgb(41, 24, 129, 1.0) 41%,
        rgb(147, 132, 162, 1.0) 50%,
        rgb(255, 50, 16, 1.0) 60%,
        rgb(253, 204, 3, 1.0) 65%,
        rgb(137, 216, 1, 1.0) 72%,
        rgb(70, 41, 122, 1.0) 80%,
        rgb(247, 178, 111, 1.0) 90%,
        rgb(250, 128, 9, 1.0) 100%);
}
