.block {
    height: 300px;
    width: 250px;

    display: inline-block;
    margin: 55px;

    border: 1px solid green;
}

.block-text {
    margin: 5%;
}

.block img {
    width: 100%;
}

.shadow1 {
    box-shadow: -6px -6px 5px 1px green;
}

.shadow2 {
    box-shadow: 0 0 10px 10px green;
}

.shadow3 {
    box-shadow: 8px 8px 6px 0.0001px rgba(0, 128, 0, 0.5);
}

.shadow4 {
    box-shadow: 0 0 50px 5px green;
}

.shadow5 {

    /*box-shadow: inset 0 -6px 0 0 green,
    inset 0 6px 0 0 gold,
    inset -6px 0 0 0 red,
    inset 6px 0 0 0 blue;*/
    position: relative;
}

.shadow5::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 -6px 0 0 green,
    inset 0 6px 0 0 gold,
    inset -6px 0 0 0 red,
    inset 6px 0 0 0 blue;
}

.shadow6 {
    box-shadow: 0 -12px 0 -6px green,
    0 12px 0 -6px gold;
}
