.article {
    column-count: 3;
    column-gap: 32px;
    column-width: 20px;
    column-rule: 4px dotted red;

    text-align: justify;
}

.article-image {
    width: 100px;
    margin: 16px;
}

.float-left {
    float: left;
    clear: both;
}

.float-right {
    float: right;
    clear: both;
}
