body {
    width: 1140px;

    margin: auto;
    padding: 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
}

main {
    margin: 0;
    padding: 8px;
    background-color: ghostwhite;
}

.navigation {
    background-color: ghostwhite;
}

.navigation-logo-cropper {
    width: 64px;
    height: 64px;

    display: inline-block;
    margin: 16px;

    overflow: hidden;
    border: 1px solid purple;
    border-radius: 50%;
}

.navigation-logo-image {
    width: 100%;
    height: 100%;
}

.navigation-list {
    float: right;
    clear: none;

    margin: 20px 20px;
    display: inline-block;
}

.navigation-list-item {
    display: inline-block;
    margin: 8px 8px;
}

.navigation-list-text {
    padding: 10px;

    font-size: 14px;
    font-weight: bold;
    text-decoration-line: none;

    color: purple;
    background-color: salmon;
}

.navigation-item-selected {
    border: 1px solid purple;
}
