.block-container {
    align-self: center;

    margin: auto;
    width: 93%;

    padding: 10px;
}

.block {
    display: inline-block;
    vertical-align: top;

    /*float: left;*/
    width: 300px;

    margin: 10px;
    padding: 10px;

}

.block-title {
    font-size: large;
    font-weight: bold;
}

.block-content {
    text-align: justify;
}

.block-inside-format {
    padding: 10px;
}

.block1, .block2, .block3 {
    border: 3px solid lightgreen;
}

.block1 {
    border-radius: 40px;
}

.block2 {
    border-radius: 40px 0 40px 0;
}

.block3 {
    border-radius: 40px 120px 40px 120px;
}

.block4, .block5, .block6 {
    border: 16px solid lawngreen;
}

.block4 {
    border-color: green lawngreen;
    border-radius: 200px / 40px;
}

.block5 {
    border-color: lawngreen green;
    border-radius: 200px 120px  / 60px 20px;
}

.block6 {
    border-left-color: green;
    border-bottom-right-radius: 90%;
}

.block7, .block8, .block9, .block10, .block11, .block12 {
    border: double orangered 16px;
}

.block7 {
    border-image-source: url(assets/border-diamonds.png);
    border-image-slice: 22;
    border-image-repeat: stretch;
}

.block8 {
    border-image-source: url(assets/border-diamonds.png);
    border-image-slice: 15 15 15 15;
    border-image-repeat: round;
}

.block9 {
    border-image-source: url(assets/border-diamonds.png);
    border-image-slice: 30;
    border-image-repeat: round;
}

.block10 {
    border-image-source: url(assets/border-ovals-1.png);
    border-image-slice: 135;
    border-image-repeat: stretch;
}

.block11 {
    border-image-source: url(assets/border-ovals-1.png);
    border-image-slice: 109 109;
    border-image-repeat: round;
}

.block12 {
    border-image-source: url(assets/border-ovals-1.png);
    border-image-slice: 87 84;
    border-image-repeat: stretch;
}
